{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="row">
       <div class="col-lg-12 text-center">
           <h2 class="section-heading">Line Of Trade</h2>
       </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Medical Supplies</h4>
            <p class="text-muted">
            	<ul>
            		<li style="text-align:left">Medical Devices, Consumables and Laboratory Reagents</li>
            		<li style="text-align:left">Hospital Furniture and Accessories</li>
            	<ul>
            </p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Pharmaceuticals</h4>
            <p class="text-muted">
            	<ul>
            		<li style="text-align:left">Medicines and Vaccines</li>
            		<li style="text-align:left">Nutrition Products</li>
            	<ul>
            </p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Food Products and Beverages</h4>
            <p class="text-muted">
            	<ul>
            		<li style="text-align:left">General Food Supplies</li>
            		<li style="text-align:left">Fresh Produce</li>
            		<li style="text-align:left">Beverages</li>
            	<ul>
            </p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">General Supplies</h4>
            <p class="text-muted">
            	<ul>
            		<li style="text-align:left">Cleaning Materials and Chemicals</li>
            		<li style="text-align:left">Stationary</li>
            		<li style="text-align:left">Uniforms, Protective Clothing</li>
            		<li style="text-align:left">Sports, Recreation Equipment, Spares and Accessories</li>
            		<li style="text-align:left">Toiletry</li>
            	<ul>
            </p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">General ICT Equitment</h4>
            <p class="text-muted">
            	<ul>
            		<li style="text-align:left">Computers and Accessories</li>
            		<li style="text-align:left">Televisions</li>
            		<li style="text-align:left">Printers</li>
            	<ul>
            </p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Automobile Imports and Spares</h4>
            <p class="text-muted">
            	<ul>
            		<li style="text-align:left">Europe(UK) Car Imports</li>
            		<li style="text-align:left">Asia(China/Japan) Car Imports</li>
            		<li style="text-align:left">Spares (VW, BMW, Audi, Ford, Mazda, Subaru, Toyota etc.)</li>
            	<ul>
            </p>
        </div>
    </div>
{% endblock content %}
